*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

.close{
    transform: translate(50vw);
}

.toggle{
    transition: 0.5s;
}

.toggle{
   height: 50px;
   width: 50px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: column;
  padding: 10px;
  background-color: white;
  cursor: pointer;
position: fixed;
top: 10px;
right: 20px;
}

.yes{
    display: flex;
}

.dot{
   width: 30px;
   height: 5px; 
   background-color: gray;
   margin-bottom: 5px;
   cursor:pointer;
}

.nav{
   width: 20vw;
   height: 15vh;
   position: fixed;
   top: 30px;
   right: 0;
 transition: transform 2s ease;
}

.three{
    text-align: center;
}

.mki{
    float: right;
    padding-bottom: 20px;
    padding-left: 10px;
}

@media (max-width:1110){
    .zero{
   width: 100vh;
   border: 1px solid greenyellow;
    }
}

.one h1{
    color: blue;
}

.flex-container{
display: flex;
justify-content: space-around;
flex-wrap: wrap;
position: relative;
}

.two{
    padding: 15px 25px;
    border-radius: 5px;
    color: rgb(20, 20, 20);
    font-size: xx-large;
    display: flex;
    gap: 10px;
}

.top{
    float: right;
    position: absolute;
}

.pic li{
    list-style-type: none;
}

.about-us{
flex: 0 0 48%;
margin: 1%;
padding-left: 5px;
padding-top: 50px;
padding-bottom: 50px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
     transition: transform 0.2s ease-in-out; 
}
.about-us:hover{
transform: translateX(5px);
}

@media (max-width:760px){
    .about-us{
        flex:0 0 100% ;
        text-align: center;
    }
    .about-us img{
        max-width: 100%;
        height: auto;
    }
}

img{
    border-radius: 10px;
}


#about-us{
    text-align: center;
    background-color: bisque;
    height: 58px;
    font-size: 50px; 
}

.nine{
    padding-bottom: 30px;
    font-size: 3rem;
}

.eleven{
    padding-bottom: 15px;
    line-height: 22px;
}

.twelve{
    line-height:22px ;
}

.four{
    text-align: center;
    background-image: url(benjamin/uche.jpg);
    background-repeat: no-repeat;
    background-size: cover;
   padding: 100px 20px;
    height: 350px;
    position: relative;
    margin-top: 50px;
}

.four::after{
    content:"" ;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.seven{
    font-size: 54px;
    margin-bottom: 20px;
}

.para{
    font-size: 28px;
    margin-bottom: 30px;
}

button{
padding: 15px 30px;
background-color: rgb(236, 136, 13);
color: white;
font-size: 18px;
border-radius: 8px;
cursor: pointer;
border-radius: 10px;
}

.ben{
  max-width: 800px; 
  margin: auto;
  color: white;
  z-index: 1;
  position: relative;
}

.ten{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
padding-top: 20px;
position: relative;
}

.kelly:hover{
    transform: translatex(-5px);
    
}

@media (min-width:760) {
    .kelly{
        flex: 0 0 100%;
    }
}

.kelly{
    flex: 0 0 30%;
    margin: 1%;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
transition: transform 0.2s ease-in-out;
}



#services{
    text-align: center;
    margin-bottom: 20px;
    position: relative;
}

.our{
    font-size: 60px;
}

.kelly h3{
    text-align: center;
    padding-bottom: 10px;
    font-size: 2.5rem;
}

.kelly p{
    text-align: center;
    justify-content: left;
    line-height: 23px;
}

.pen{
    text-align: center;
    margin-top: 30px;
    font-size: 40px;
    font-family:arial narrow;
}

#contact{
    margin-top: 30px;
    background-color: rgb(201, 120, 22);
    padding-bottom: 15px;
    position: relative;
}

.link h2{
padding-top: 10px;
   text-align: center; 
}

.link{
    position: relative;
}

.link h4{
    padding: 30px;
    font-size: 20px;
    text-align: center;
}

.ike{
    font-size:4rem ;
    padding-bottom: 30px;
}

.ref{
  font-size:4rem ;
}

.ome{
    margin-top: 80px;
    text-align: center;

}

body{
background-color: rgba(212, 203, 203, 0.856);
}

.ome{
    font-size: 1.5rem;
}

.abba{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 15vh;
    gap: 30px;
   border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
     transition: transform 0.2s ease-in-out; 
    background-color: rgba(252, 159, 21, 0.466);
}

.toggle{
    width: 50px;
    height: 50px;
  }
