*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* list div */
.first{
    background-color: rgb(164, 206, 13);
    text-align: center;
    list-style-type: none;
    position: sticky;
    top: 0;
}

.second:hover{
    background-color: rgba(235, 15, 15, 0.541);
}
/* list */
.second{
    display: inline-block;
    padding: 20px;
    font-size: 1.2rem;
}
/* background image for the header */
#third{
    width: 100%;
    height: 80vh;
    background-image: url(network/michelle-spollen-dC2FsjoXsPQ-unsplash.jpg);
    background-size: cover;
/*     position: relative; */
}
/* paragraph div */
#third{
    padding-top: 80px;
}
/* the paragraphs */
.fourth{
    font-size: 3rem;
    padding-left: 40px;
    font-weight: 900;
    text-align: center;
    color: rgba(255, 156, 7, 0.849);
}

.fifth{
    padding-top: 50px;
    font-family: arial;
    font-size: 1.5rem;
    text-align: center;
    font-weight: 900;
    color:rgb(212, 8, 8);
}
/* marque */
.six{
    margin: 90px;
    color:yellow;
    font-weight: 900;
}
/* span */
span{
    background-color: black;
    color: brown;
}

.seven{
    text-align: center;
    background-color: yellow;
}


/* animation */
.zero{
    width: 80px;
    height: 80px;
    background-color: white;
    animation-name: moving;
    animation-duration: 10s;
}

@keyframes moving {
   0%{ 
    transform: translate(0px, 0px);
   } 
   50%{ background-color: green;
    transform: translate(250px, 0px,) ;
   }
   100%{ background-color: yellow;
    transform: translate(250px, 400px );
   }
}
/* about myself */
#eight{
    text-align: center;
    font-size: x-large;
     width: 100vw;
    height: 100vh;
    background-image: url(network/six.jpg);
    background-size: cover;
    background-position:right;
    background-repeat: no-repeat;
    position: relative;
}

.you{
    position: absolute;
    bottom:0;
    margin-bottom:20px;
    }

.man{
       float: left;
    width: 350px;
    background-color: rgba(255, 228, 196, 0.534);
    border-radius: 20px;
    }
.nom{
    float: right;
    width: 400px;
    background-color: rgba(216, 123, 10, 0.37);
    border-radius: 20px;
    }

.glass{
        float: right;
    padding-top: 160px;
    }

.ten{
    float: left; 
   padding-top: 20px;
   width: 370px
  }


.odi{
    font-size: large;
    width: 400px;
    position: relative;
    background-color: rgba(255, 235, 205, 0.753);
    border-radius: 10px;
    margin-left: 15px;
    line-height: 25px;
  }

.myi{
    margin: 20px 0px 4px 5px;
    color: rgb(204, 130, 33);
    }

.lamp{
   list-style-type: none;
color:rgba(0, 0, 0, 0.589);
background-color: rgba(222, 184, 135, 0.63);
width: 320px;
border-radius: 20px;
}

.edu{
    padding: 10px;
}

.skil{
    padding: 10px;
}

.eleven{
    margin: 10px;
    background-color: brown;
}

.twelve{
    text-align: center;
    padding: 10px;
    color: white;
}

.thirteen{
    width: 300px;
    border: 1px solid;
    flex-basis: calc(33.33%);
    padding: 20px;
}

section{
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    justify-content: space-around;
    margin-bottom: 10px;
    background-color: black;
    color: white;
    width: 80wv;
    padding-left: 20px;
}

.kay{
    text-align: center;
    padding-bottom: 10px;
    background-color: yellow;
    color: black;
    border-radius: 10px;
}

.baa{
    padding-left: 10px;
    padding-top: 10px;
    font-size: larger;
}

.fourteen{
    margin: 10px;
    text-align: center;
    background-color: green;
}

.fifteen{
    padding: 10px;
text-align: center;
}

.kell{
    width: 280px;
    border: 1px solid;
    border-radius: 10px;
    padding: 10px;
}

.oga{
    text-align: center;
    font-size: x-large;
    padding-bottom: 10px;
    background-color: white;
    border-radius: 10px;
}

.oge{
    padding-left: 8px;
    font-size: larger;
    padding-top: 10px;
}

.sixteen{
    display: flex;
    background-color: gray;
    margin-bottom:15px px;
    /* padding: 20px; */
    text-align: center;
    overflow: hidden;
}





.seventeen{
margin-top: 35px;
background-color: green;
width: 290px;
margin-bottom: 15px;
padding-left: 10px;
}

#benjamin{
    background-color: rgba(0, 189, 148, 0.678);
    font-size: 2rem;
}
.cup{
  padding-left: 10px;
}
    
.eighteen{
   padding: 10px; 
}

.nineteen{
    padding-bottom: 10px;
    padding-left: 10px;
}

.twenty{
    padding-left: 10px;
    padding-bottom: 10px;
}

.pen{
    background-color: black;
    color: white;
}

.ammy{
    padding: 15px;
}

.rou{
    font-size: x-large;
    padding-left: 10px;
}

body{
    font-size: 14px;
}

@media (max-width: 768px) {
    flex-direction: row;
}
